<tr id="<%= dom_id item %>">
    <th scope="row"><%= item.id %></th>
    <td><%= item.user.full_name %></td>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= item.quantity %></td>
    <td><%= link_to "Delete", "#{item.order.id}/items/#{item.id}/deleteItem" %></td>
    <!-- <td><%= link_to 'Delete', [item.order, item],
        method: :delete,
        data: { confirm: "Are you sure you want to delete this item?" } %></td> -->
</tr>