<tr id="<%= dom_id item %>">
    <th scope="row"><%= item.id %></th>
    <td><%= item.user.full_name %></td>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= item.quantity %></td>
    <% if item.order.status == "waiting" %>
        <td><%= link_to "Delete", delete_item_path(item.order, item) %></td>
    <% else %>
        <td></td>
    <% end %>
</tr>