<h1>New Item</h1>
<%= turbo_frame_tag "new_item", target: "_top" do %> 
    <%= form_with(model: [ @order, @order.items.build], data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |form| %>
        <div class="field">
            <%= form.label :name %> 
            <%= form.text_field :name %> <br>
            <%= form.label :price %> 
            <%= form.text_field :price %> <br>
            <%= form.label :quantity %> 
            <%= form.text_field :quantity %> 
            <%= form.submit "submit", data: { disable_with: false } %> 
        </div>
    <% end %>
<% end %> 